<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="TodoCtrl">

  <ion-pane>
    <ion-header-bar class="bar-positive">
      <h1 class="title">ROI Calculator</h1><button class="button button-icon" ng-click="newTask()"><i class="ion-compose icon"></i>
        </button>
      </button>
    </ion-header-bar>
    <ion-content class="padding">
      <ion-list>
        <label class="item item-input">
            <input type="tel" placeholder="Enter yearly profit. Ex: 30000" id='a'>
        </label><br>
        <label class="item item-input">
            <input type="tel" placeholder="Enter your initial cost. Ex: 350000" id='b'>
        </label><br>
        <button class="button button-block button-positive" onclick="cal1()">ROI Calculating</button>
        <button class="button button-block button-positive" onclick="cal2()">ROI Time</button>
        <button class="button button-block button-positive" onclick="cal3()">Clear</button>
      </ion-list>
      <div class="card1">
        <div class="item item-divider">
          ROI: Return on Investment
        </div>
        <div class="item item-text-wrap">
          ROI Ratio tells you the efficiency of your investment
        </div>
      </div><br>
      <div class="card1">
        <div class="item item-divider">
          ROI Time: Time of full return on your investment
        </div>
        <div class="item item-text-wrap">
          ROI Time tells you how long to get back 100% of your investment
        </div>
      </div><br>
      <ion-list>
          <ion-item ng-repeat="task in tasks" class="item-icon-right"
           ng-class="{completed: task.completed}"
           ng-click="task.completed = !task.completed">
           <i class="icon ion-ios-arrow-left"></i>
           <ion-option-button class="button-assertive"
           ng-click="tasks.splice($index, 1)">Delete</ion-option-button>
           <ion-option-button class="button-energized" ng-click="edit(task)">Edit</ion-option-button>
            {{task.title}}
          </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-balanced">
      <div class="title" id="answer">Result</div>
    </ion-footer-bar>
  </ion-pane>
</body>

</html>
